.nav{
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    z-index: 9;
    left: 50px;
    transition: all .3s ease-in;
}

.divName{
    background: #f0f0f0;
    position: relative;
    width: 100%;
}

.item{
    background: white;
}

.item a{
    padding: 0 10px;
    min-height: 38px;
    float: left;
    align-items: center;
    display: inline-flex;
    width: 100%;
    overflow: hidden;
    font-weight: 700;
    font-size: 13px;
    color: #404040;
    background: white;
}



@media screen and (max-width: 1200px){
    .nav{
        display: none;
    }
}