.mainDiv{
    min-height: 100vh;
    width: 90%;
    margin: auto;
    padding-top: 30px;
}

.mainDiv h1{
    width: fit-content;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Ubuntu Regular, sans-serif;
    margin: 40px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.mainDiv h1:before{
    display: block;
    content: "";
    width: 50px;
    height: 1px;
    border-bottom: solid 1px;
    position: absolute;
    top: 15px;
    left: -60px;
    z-index: 2;
}

.mainDiv h1:after{
    display: block;
    content: "";
    width: 50px;
    height: 1px;
    border-bottom: solid 1px;
    position: absolute;
    top: 15px;
    right: -60px;
    z-index: 2;
}

.divBlocks{
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    width: calc(50% - 20px);
    padding: 20px;
    margin-bottom: 40px;
    position: relative;
    background: white;
}

.item img{
    text-align: center;
    display: block;
    margin: auto;
    height: 300px;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

.item h2{
    font-size: 17px;
    margin: 10px 0 0 0;
    color: #414141;
}

.item time{
    font-style: italic;
    color: #949494;
    margin: 10px 0;
    display: block;
}

.item p{
    float: left;
    color: #404040;
    text-align: justify;
    width: 100%;
}

.item a {
    transition: all 300ms ease-in;
    background: #ed1c24;
    color: white;
    padding: 10px;
    font-size: 14px;
    float: right;
    border-radius: 10px;
}

.item a:hover {
    background: #bc2905;
}

.search_navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 60px;
}

.pagination__item__active{
    color: white;
    background: #c2001a;
    padding: 4px 8px!important;
}

.pagination__item{
    position: relative;
    float: left;
    font-size: 12px;
    line-height: 1;
    padding: 5px 15px;
    cursor: pointer;
}






@media screen and (max-width: 1200px){
    .item{
        width: 100%;
    }
}

@media screen and (max-width: 800px){
    .mainDiv{
        width: 100%;
        padding: 20px;
    }
    .item img{
        width: auto;
        height: auto;
    }
}












