.mainDiv{
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.divProduct{
    width: calc(100% - 370px);
    float: right;
    min-height: calc(100vh - 183px);
}

.wrapper{
    width: 90%;
    margin: auto;
}

.breadcrumbs{
    display: flex;
    align-items: center;
    margin: 10px 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
}

.crumbs{
    float: left;
}

.crumbs ul{
    padding: 10px 0;
}

.crumbs ul li {
    font-size: 15px;
    color: #949494;
    display: inline-block;
    vertical-align: top;
}

.crumbs ul li a {
    cursor: pointer;
}

.crumbs ul li a svg {
    width: 20px;
    height: auto;
    color: #ed1c24;
}

.crumbs ul li a:hover svg {
    color: #bc2905;
}

.crumbs ul li a:after {
    font-family: 'themify', sans-serif;
    content: '>';
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    font-size: 17px;
}

.ulCategory{
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.item{
    width: calc(25% - 20px);
    float: left;
    position: relative;
    margin: 0 10px 20px;
    min-height: 470px;
    padding: 20px;
    border-radius: 20px;
    background: white;
    padding-bottom: 100px;
}

.divImage {
    height: 165px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    position: relative;
}

.divImage img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.linkChild{
    color: #404040;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 0;
    display: block;
}




@media screen and (max-width: 1600px){
    .item{
        width: calc(33% - 20px);
    }
}

@media screen and (max-width: 1200px){
    .item{
        width: 100%;
    }
    .divProduct{
        width: 100%;
        float: none;
    }
    .wrapper{
        width: 100%;
        padding: 20px;
    }
}